.filter-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;

    background-color: getColor('secondary');

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.button-item {
    margin-right: 8px;
    margin-bottom: 15px;

    &:last-child {
        margin-right: 0;
    }

    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: unset;
    }
}

.button-filter {
    padding: 6px 22px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    background-color: getColor('icon-background');

    &:hover,
    &:focus {
        background-color: getColor('button');
        color: getColor('secondary');
        outline: none;
    }
}

