.project-box {
    width: 100%;
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.project-list {
    margin: 0 auto;
    
    background-color: getColor('background');

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 60px;
        margin-left: -30px;
        margin-bottom: -30px;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 94px;
    }
}

.project-item {
    width: 100%;
    margin-bottom: 30px;
    & :last-child {
        margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        width: 370px;
    }
    
    & .link {
        display: block;
        text-decoration: none;
    }
    
    & .link:hover,
    & .link:focus {
        border: 1px solid #EEEEEE;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
        0px 4px 4px rgba(0, 0, 0, 0.06), 
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    & .link:hover .overlay,
    & .link:focus .overlay {
        opacity: 1;
        transform: translateY(0);
        transition-duration: 250ms;
    }
}

.project-title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: getColor('primary');
}

.project-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: getColor('accent');

    color: getColor('accent');
}