.contact-list {
    display: flex;  
    justify-content: flex-end;
    margin-left: auto;
}

.header-contacts {
    display: flex;
    align-items: center;
    margin-left: 50px;
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: getColor('accent');

    &:hover,
    &:focus {
        color: getColor('button');
    }

    &:hover .icon-mail,
    &:hover .icon-smartphone,
    &:focus .icon-mail,
    &:focus .icon-smartphone {
        fill: getColor('button');
    }
}

.icon-mail {
    margin-right: 10px;
    width: 16px;
    height: 12px;

    fill: getColor('accent');
}

.icon-smartphone {
    margin-right: 10px;
    width: 10px;
    height: 16px;

    fill: getColor('accent');
}