.competence {
    margin: 0 auto;
    padding: 94px 0 47px;

    background-color: getColor('background');
}
// Скрытый заголовок
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

.competence-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.competence-unit {
    width: 270px;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
    
}

.competence-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    width: 270px;
    height: 120px;

    background: getColor('icon-background');
    border-radius: 4px;

    &:last-child {
        margin-right: 0;
    }
}

.competence-item {
    margin: 30px 0 10px;
    width: 270px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: getColor('primary');
}

.competence-text {
    width: 270px;
    margin-left: 30px;
    margin: 0 auto;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: getColor('accent');
}